In [5]:
# Importing librarys
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [6]:
# Load the breast cancer dataset
df = pd.read_csv('android_traffic.csv', delimiter=";")
df.head(7)

,name,tcp_packets,dist_port_tcp,external_ips,vulume_bytes,udp_packets,tcp_urg_packet,source_app_packets,remote_app_packets,source_app_bytes,remote_app_bytes,duracion,avg_local_pkt_rate,avg_remote_pkt_rate,source_app_packets.1,dns_query_times,type
0,AntiVirus,36,6,3,3911,0,0,39,33,5100,4140,NaN,NaN,NaN,39,3,benign
1,AntiVirus,117,0,9,23514,0,0,128,107,26248,24358,NaN,NaN,NaN,128,11,benign
2,AntiVirus,196,0,6,24151,0,0,205,214,163887,24867,NaN,NaN,NaN,205,9,benign
3,AntiVirus,6,0,1,889,0,0,7,6,819,975,NaN,NaN,NaN,7,1,benign
4,AntiVirus,6,0,1,882,0,0,7,6,819,968,NaN,NaN,NaN,7,1,benign
5,AntiVirus,54,54,3,5062,0,0,63,54,5457,5719,NaN,NaN,NaN,63,9,benign
6,AntiVirus,6,0,1,889,0,0,7,6,819,975,NaN,NaN,NaN,7,1,benign

In [7]:
# Iterate over all columns of the DataFrame
for col in df.columns:
    # Get the count of different items in the column
    item_counts = df[col].value_counts()
    
    # Print the count of each item
    print(f"Column '{col}':\n{item_counts}\n")

Column 'name':
Reading             774
Plankton            483
DroidKungFu         427
AntiVirus           396
NewsAndMagazines    360
                   ...
Saiva                 1
Gmuse                 1
EICAR-Test-File       1
EWalls                1
SafeKidZone           1
Name: name, Length: 114, dtype: int64

Column 'tcp_packets':
0       1267
6        784
12       340
5        210
7        124
        ...
3998       1
313        1
2596       1
751        1
1486       1
Name: tcp_packets, Length: 760, dtype: int64

Column 'dist_port_tcp':
0      6243
12      276
6       219
8        61
11       61
       ...
164       1
223       1
74        1
329       1
139       1
Name: dist_port_tcp, Length: 169, dtype: int64

Column 'external_ips':
1     2391
2     1408
0     1068
3      844
4      576
5      435
6      345
7      254
8      171
9      133
10      66
11      34
13      32
12      21
15      17
16      10
18       9
14       8
17       7
19       3
22       2
21       2
32       1
40       1
20       1
24       1
34       1
43       1
30       1
28       1
27       1
Name: external_ips, dtype: int64

Column 'vulume_bytes':
0        1068
888       193
1308      137
444       133
1307      112
         ...
25248       1
48016       1
13250       1
13177       1
2331        1
Name: vulume_bytes, Length: 4639, dtype: int64

Column 'udp_packets':
0     7789
1       26
4        5
2        5
12       5
6        3
3        3
65       2
28       2
55       1
14       1
30       1
7        1
10       1
Name: udp_packets, dtype: int64

Column 'tcp_urg_packet':
0    7843
1       2
Name: tcp_urg_packet, dtype: int64

Column 'source_app_packets':
7       697
1       595
2       253
14      214
6       211
       ...
6221      1
5997      1
750       1
1184      1
1488      1
Name: source_app_packets, Length: 776, dtype: int64

Column 'remote_app_packets':
1       683
7       575
2       391
6       299
5       181
       ...
6818      1
427       1
1355      1
1794      1
3992      1
Name: remote_app_packets, Length: 851, dtype: int64

Column 'source_app_bytes':
1947       269
142        175
1600        92
257         79
451         71
          ...
1283370      1
2202976      1
24564        1
13073        1
86           1
Name: source_app_bytes, Length: 4815, dtype: int64

Column 'remote_app_bytes':
70       177
1383     136
1382     112
74        98
71        94
        ...
16129      1
2474       1
58369      1
4326       1
382        1
Name: remote_app_bytes, Length: 4874, dtype: int64

Column 'duracion':
Series([], Name: duracion, dtype: int64)

Column 'avg_local_pkt_rate':
Series([], Name: avg_local_pkt_rate, dtype: int64)

Column 'avg_remote_pkt_rate':
Series([], Name: avg_remote_pkt_rate, dtype: int64)

Column 'source_app_packets.1':
7       697
1       595
2       253
14      214
6       211
       ...
6221      1
5997      1
750       1
1184      1
1488      1
Name: source_app_packets.1, Length: 776, dtype: int64

Column 'dns_query_times':
1      2310
2      1484
3      1064
4       628
5       486
       ...
781       1
29        1
44        1
39        1
348       1
Name: dns_query_times, Length: 63, dtype: int64

Column 'type':
benign       4704
malicious    3141
Name: type, dtype: int64

In [8]:
# Pre-processing

# Remove additional columns
# Identify columns to drop and Drop the columns
columns_to_drop = ['duracion', 'avg_local_pkt_rate','avg_remote_pkt_rate','tcp_urg_packet','udp_packets']
df = df.drop(columns_to_drop, axis=1)

# Drop rows with null values
df = df.dropna()

# Encode categorical variables
encoder = LabelEncoder()
categorical_cols = ['name','type']
for col in categorical_cols:
  df[col] = encoder.fit_transform(df[col])

# Calculate the Z-scores of each column and Remove rows with outliers
z_scores = stats.zscore(df)
df = df[(z_scores < 3).all(axis=1)]

# Display the data
print(f'Shape of the data : {df.shape}')
df.head()

Shape of the data : (7567, 12)

,name,tcp_packets,dist_port_tcp,external_ips,vulume_bytes,source_app_packets,remote_app_packets,source_app_bytes,remote_app_bytes,source_app_packets.1,dns_query_times,type
0,6,36,6,3,3911,39,33,5100,4140,39,3,0
1,6,117,0,9,23514,128,107,26248,24358,128,11,0
2,6,196,0,6,24151,205,214,163887,24867,205,9,0
3,6,6,0,1,889,7,6,819,975,7,1,0
4,6,6,0,1,882,7,6,819,968,7,1,0

In [9]:
# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(df.drop("type", axis=1), df["type"], test_size=0.3, random_state=42)

# Standardize the data
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# Print the standardized training data
print(f'x_train shape: {x_train.shape}')
print(f'y_train shape: {y_train.shape}')
print('--------------')
print(f'x_test shape: {x_test.shape}')
print(f'y_test shape: {y_test.shape}')

x_train shape: (5296, 11)
y_train shape: (5296,)
--------------
x_test shape: (2271, 11)
y_test shape: (2271,)

In [10]:
# Train the KNN model with k=4
knn = KNeighborsClassifier(n_neighbors=4)
knn.fit(x_train, y_train)

# Make predictions on the test data
y_pred_knn = knn.predict(x_test)


# Compute the accuracy
accuracy_knn = accuracy_score(y_test, y_pred_knn)

In [11]:
# Train the decision tree classifier
clf = DecisionTreeClassifier(random_state=42)
clf.fit(x_train, y_train)

# Make predictions on the testing set
y_pred_clf = clf.predict(x_test)

# Evaluate the accuracy of the classifier
accuracy_clf = accuracy_score(y_test, y_pred_clf)

In [ ]:
# Printing the results of Evaluation
print("Accuracy of KNN:", accuracy_knn)
print('Accuracy of Decision Tree Classifier:', accuracy_clf)

Accuracy of KNN: 0.9295464553060326
Accuracy of Decision Tree Classifier: 0.9828269484808454